/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
} */

.navbar {
  background: #0074d9;
  color: #fff;
  padding: 10px 20px;
}

.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
}

.footer {
  background: #001f3f;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
